/* Step 4.3: Define CSS Variables /*
:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* Step 4.4 Reset CSS Box Model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Step 4.5: Document Body Font and Text Color */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Step 4.6: Page Width and Centering */
header,
main,
footer {
    max-width: 840px margin: 0 auto;
}

/*Step 4.7: Heading Fonts and Text Colors */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Step 4.9: Remove underlines from Social Media Nav Links*?
.socialmedia a {
    text-decoration: none;
}

/*Step 5.1: Hero Container Layout Positon*/
.hero {
    position: relative;
}

/* Step 5.2: Hero Image Rules*/
.hero img {
    display: block width: 100%;
    height: auto;
}

/* Step 5.3: Hero Heading Absolute Styling Over Image */
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    /* Translucent background utilizing primary color */
    color: #fff;
}

/* Step 5.4: Hero Article And Insert Image Layout */
.hero article {
    position: absolute;

}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
}